h1 {
    display: none;
}

@media only screen and (max-width:390px) {
   body {
    background: blue;
   }
}
.Smartphone {
   display: block;
}
@media only screen and (max-width:391px) {
    body {
     background: blue;
    }
 }
 .tablet {
    display: block;
 }
 .contrainer {
    background-color: antiquewhite;
    width: 50vw;
    height: 50vw;
 }